absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
docopt
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
keras
libclang
Markdown
MarkupSafe
numpy
opencv-python
pipreqs
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
